<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace命名空间，为了对sql语句进行隔离，方便管理，mapper开发dao方式，使用namespace有特殊作用  
mapper代理开发时将namespace指定为mapper接口的全限定名  
 -->
<mapper namespace="com.chengxusheji.mapper.ReceiveMapper"> 
<!--在mapper.xml文件中配置很多的sql语句，执行每个sql语句时，封装为MappedStatement对象 
mapper.xml以statement为单位管理sql语句  
 -->
	<!-- 添加领用记录 -->
	<insert id="addReceive" parameterType="receive">
		insert into t_receive(resourceObj,userObj,receiveNum,receiveTime,purpose) values 
		(#{resourceObj.resourceNo},#{userObj.user_name},#{receiveNum},#{receiveTime},#{purpose})
	</insert>

	<!-- 按照查询条件分页查询领用记录 -->
	<select id="queryReceive" resultMap="receiveMap" >
		select t_receive.* from t_receive,t_resourceInfo,t_userInfo ${where} and t_receive.resourceObj = t_resourceInfo.resourceNo and t_receive.userObj = t_userInfo.user_name limit #{startIndex},#{pageSize}
	</select>
	<resultMap id="receiveMap" type="receive">
        <id property="receiveId" column="receiveId" />
        <association property="resourceObj" column="resourceObj" select="com.chengxusheji.mapper.ResourceInfoMapper.getResourceInfo" />
        <association property="userObj" column="userObj" select="com.chengxusheji.mapper.UserInfoMapper.getUserInfo" />
    </resultMap>

    <!-- 按照查询条件查询所有领用记录 -->
	<select id="queryReceiveList" resultMap="receiveMap" >
		select t_receive.* from t_receive,t_resourceInfo,t_userInfo ${where} and t_receive.resourceObj = t_resourceInfo.resourceNo and t_receive.userObj = t_userInfo.user_name
	</select>

    <!-- 按照查询条件的领用记录数 -->
	<select id="queryReceiveCount" resultType="int">
		select count(*) from t_receive,t_resourceInfo,t_userInfo ${where} and t_receive.resourceObj = t_resourceInfo.resourceNo and t_receive.userObj = t_userInfo.user_name
	</select>

	<!-- 根据主键查询某个领用记录 -->
	<select id="getReceive" parameterType="int" resultMap="receiveMap">
		select * from t_receive where t_receive.receiveId = #{receiveId}
	</select>

	<!-- 更新领用记录 -->
	<update id="updateReceive" parameterType="receive">
		update t_receive set resourceObj=#{resourceObj.resourceNo},userObj=#{userObj.user_name},receiveNum=#{receiveNum},receiveTime=#{receiveTime},purpose=#{purpose} where receiveId = #{receiveId}
	</update>

	<!-- 删除领用记录 -->
	<delete id="deleteReceive" parameterType="int">
		delete from t_receive where receiveId=#{receiveId}
	</delete>

</mapper>
