<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace命名空间，为了对sql语句进行隔离，方便管理，mapper开发dao方式，使用namespace有特殊作用  
mapper代理开发时将namespace指定为mapper接口的全限定名  
 -->
<mapper namespace="com.chengxusheji.mapper.ResourceInfoMapper"> 
<!--在mapper.xml文件中配置很多的sql语句，执行每个sql语句时，封装为MappedStatement对象 
mapper.xml以statement为单位管理sql语句  
 -->
	<!-- 添加资源记录 -->
	<insert id="addResourceInfo" parameterType="resourceInfo">
		insert into t_resourceInfo(resourceNo,resourceTypeObj,name,resourcePhoto,numberLimit,resourceNum,addDate,resourceDesc) values 
		(#{resourceNo},#{resourceTypeObj.typeId},#{name},#{resourcePhoto},#{numberLimit},#{resourceNum},#{addDate},#{resourceDesc})
	</insert>

	<!-- 按照查询条件分页查询资源记录 -->
	<select id="queryResourceInfo" resultMap="resourceInfoMap" >
		select t_resourceInfo.* from t_resourceInfo,t_resourceType ${where} and t_resourceInfo.resourceTypeObj = t_resourceType.typeId limit #{startIndex},#{pageSize}
	</select>
	<resultMap id="resourceInfoMap" type="resourceInfo">
        <id property="resourceNo" column="resourceNo" />
        <association property="resourceTypeObj" column="resourceTypeObj" select="com.chengxusheji.mapper.ResourceTypeMapper.getResourceType" />
    </resultMap>

    <!-- 按照查询条件查询所有资源记录 -->
	<select id="queryResourceInfoList" resultMap="resourceInfoMap" >
		select t_resourceInfo.* from t_resourceInfo,t_resourceType ${where} and t_resourceInfo.resourceTypeObj = t_resourceType.typeId
	</select>

    <!-- 按照查询条件的资源记录数 -->
	<select id="queryResourceInfoCount" resultType="int">
		select count(*) from t_resourceInfo,t_resourceType ${where} and t_resourceInfo.resourceTypeObj = t_resourceType.typeId
	</select>

	<!-- 根据主键查询某个资源记录 -->
	<select id="getResourceInfo" parameterType="string" resultMap="resourceInfoMap">
		select * from t_resourceInfo where t_resourceInfo.resourceNo = #{resourceNo}
	</select>

	<!-- 更新资源记录 -->
	<update id="updateResourceInfo" parameterType="resourceInfo">
		update t_resourceInfo set resourceTypeObj=#{resourceTypeObj.typeId},name=#{name},resourcePhoto=#{resourcePhoto},numberLimit=#{numberLimit},resourceNum=#{resourceNum},addDate=#{addDate},resourceDesc=#{resourceDesc} where resourceNo = #{resourceNo}
	</update>

	<!-- 删除资源记录 -->
	<delete id="deleteResourceInfo" parameterType="string">
		delete from t_resourceInfo where resourceNo=#{resourceNo}
	</delete>

</mapper>
